  
  p{
      font-size: 20px;
  }
  .about{
    padding: 2%;
}
  /*--------------------------------------------------------------
# HERO
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("https://www.wallpapertip.com/wmimgs/98-980295_elon-musk-photo-hd.jpg") top center;
    background-size: cover;
  }