<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about container">
        <div class="container">

            <div class="section-title">
                <h2>About Us</h2>
                <p>{{company.description}}</p>
            </div>
            <div class="justify-content-center">
                <img src="../../../assets/img/empanadas-local.jpg" class="col-lg-12 col-sm-12 col-md-8 py-1">
            </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts container">
        <div class="container">

            <div class="section-title">
                <!--Aquí puede ser mucho mejor trar los datos generales-->
                <h2>Categories</h2>
                <h3>category</h3>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row no-gutters">
                <!--Podemos guiarnos para las fotos-->
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>NIT <br> </strong>{{company.nit}}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Address <br></strong>{{company.address}}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="count-box">
                      <i class="bi bi-globe"></i>
                      <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>Web domain <br></strong>{{company.web_domain}}</p>
                  </div>
              </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="count-box">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Mail <br></strong> {{company.email}} </p>
                  </div>
                </div> 
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="bi bi-telephone-fill"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Contact <br></strong> {{company.contact_number}}</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Contact Section ======= -->


</main><!-- End #main -->