
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <h1>Contact realised</h1>
        <hr class="hr-3">
            <div class="row">
                <div class="oval">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogdo</h3>
                </div>
                <div class="oval">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>   
            </div>

        <br>
        <h1>Contact request</h1>
        <hr class="hr-3">
            <div class="row">
                <div class="oval req">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                    <div>
                        <i class="bi bi-check-circle" id="confirm"></i>
                    </div>
                    <div>
                        <i class="bi bi-x-circle " id="reject"></i>
                    </div>
                </div>
                <div class="oval req">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval req">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval req">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval req">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval req">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                    <div>

                    </div>
                </div>
            </div>

        <br>
        <h1>Waiting response</h1>
        <hr class="hr-3">
            <div class="row">
                <div class="oval waiting row">
                    <div class="col-6">
                        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    </div>
                    <div class="col-6">
                        <h3>Dog ewfwefwef</h3>
                        <p>Waiting...</p>
                    </div>
                </div>
                <div class="oval waiting">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval waiting">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval waiting">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval waiting">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
                <div class="oval waiting">
                    <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" class="avatar">
                    <h3>Dogo</h3>
                </div>
            </div>

      </div>
    </section>
  </main>