<div *ngIf="!showChat" class="chatIconCont" (click)="showChat=true"> <!--A parte de eso en la condión se le debe añadir otro parámetro el cual pregunte por el tipo de usuario logueado esto permitirá identificar quien es el emisor-->
  <img src="./assets/img/chat_icon.png" class="chatIcon" alt="chat_icon">
</div>

<div class="card text-center cardContainer" *ngIf="showChat"> <!--De igual manera se debe agregar la misma condición en esta parte-->
  <div class="card-header">
    CHAT
    <div class="closeI" (click)="showChat=false"><i class="bi bi-x-lg"></i></div>
  </div>
  <div class="card-body">
      <div id="msgContanier" class="messageContainer h-100">
        
          <p *ngFor="let message of messages" class="msg send p-2">
          <!-- [ngClass]="(userLoged.uid == message.transmitter)? 'send' : 'receibe'" para cambiar el estilo del mensaje -->
          
                {{message.text}}
          </p>
      </div>
  </div>
  <form class="card-footer text-muted input-group" (ngSubmit)="sendMessage()">
      <input type="text" class="form-control" placeholder="Send Message" [(ngModel)]="newMessage"
      [ngModelOptions]="{standalone:true}">
      <div class="input-group-append" (click)="sendMessage()">
        <span class="input-group-text send-container" id="basic-addon2">
          <img src="./assets/img/send_arrow.png" alt="send-image" class="send-img">
        </span>
      </div>
  </form>
</div>
