p{
    font-size: 20px;
}

.about{
    padding: 2%;
}

  /*--------------------------------------------------------------
# HERO
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-position: top center;
    background-size: cover;
  }
  /*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/

.social-media{
    padding-top: 20px;
    padding-bottom: 30px;
}

.social-media i{
    font-size: 50px;
    color: #149ddd;
    margin-right: 2%;
    transition-duration: .4s;
}

.social-media i:hover{
    transition: all;
    transition-duration: .4s;
    color: #3931af;

}

