
     <section id="hero" class="d-flex flex-column justify-content-center align-items-center"
              [ngStyle]="{backgroundImage:'url(' + backgroundImage + ')'}">
        <div class="hero-container" data-aos="fade-in">
            <h1>{{ (user$ | async)?.name_user }}</h1>
          <p>I'm <span>INFLUENCER</span></p>
        </div>
      </section><!-- End Hero -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">     
            <div class="section-title">
                <h2>About Me</h2>
            </div>
            <div class="justify-content-center">

            </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts" style="padding: 0 2% 10px 2%;">
        <div class="container">
            <div class="section-title" style="padding: 0;">
                <h2>Facts</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-6 col-sm-12 " data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Score</strong>How many users gave a score to Alex profile</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Followers</strong> 10000</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Facts Section -->

    <section class="social-media" *ngIf="(socialNetworks$ | async) as socialNetworks">
        <div class="container">
            <div class="section-title" style="padding: 0;">
                <h2>Social media</h2>
            </div>
            <div class="row no-gutters">
                <div>
                    <a [href]="socialNetworks?.facebook" class="facebook" *ngIf="socialNetworks?.facebook"><i class="bx bxl-facebook"></i></a>
                    <a [href]="socialNetworks?.twitter" class="twitter" *ngIf="socialNetworks?.twitter"><i class="bx bxl-twitter"></i></a>
                    <a [href]="socialNetworks?.instagram" class="instagram" *ngIf="socialNetworks?.instagram"><i class="bx bxl-instagram"></i></a>
                    <a [href]="socialNetworks?.youtube" class="youtube" *ngIf="socialNetworks?.youtube"><i class="bx bxl-youtube"></i></a>
                    <a [href]="socialNetworks?.snapchat" class="snapchat" *ngIf="socialNetworks?.snapchat"><i class="bx bxl-snapchat"></i></a>
                    <a [href]="socialNetworks?.tik_tok" class="tik_tok" *ngIf="socialNetworks?.tik_tok"><i class="bx bxl-tiktok"></i></a>
                    <a [href]="socialNetworks?.pinterest" class="pinterest" *ngIf="socialNetworks?.pinterest"><i class="bx bxl-pinterest"></i></a>
                    <a [href]="socialNetworks?.twitch" class="twitch" *ngIf="socialNetworks?.twitch"><i class="bx bxl-twitch"></i></a>
                    <a [href]="socialNetworks?.reddit" class="reddit" *ngIf="socialNetworks?.reddit"><i class="bx bxl-reddit"></i></a>
                </div>
            </div>
        </div>
    </section>


