
     <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
          <h1>{{misObjetos.name}}</h1>
          <p>I'm <span>INFLUENCER</span></p>
        </div>
      </section><!-- End Hero -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">     
            <div class="section-title">
                <h2>About Me</h2>
            </div>
            <div class="justify-content-center">
                <p>{{misObjetos.description}}</p>
            </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts" style="padding: 0 2% 10px 2%;">
        <div class="container">
            <div class="section-title" style="padding: 0;">
                <h2>Facts</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-6 col-sm-12 " data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Score</strong>How many users gave a score to Alex profile</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Followers</strong> 10000</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Facts Section -->

    <section class="social-media">
        <div class="container">
            <div class="section-title" style="padding: 0;">
                <h2>Social media</h2>
            </div>
            <div class="row no-gutters">
                <div  data-aos="fade-up" data-aos-delay="100">
                    <a href={{facebook}} class="facebook" *ngIf="facebook !== null"><i class="bx bxl-facebook"></i></a>
                    <a href={{twitter}} class="twitter" *ngIf="twitter !== null"><i class="bx bxl-twitter"></i></a>
                    <a href={{instagram}} class="instagram" *ngIf="instagram !== null"><i class="bx bxl-instagram"></i></a>
                    <a href={{youtube}} class="youtube" *ngIf="youtube !== null"><i class="bx bxl-youtube"></i></a>
                    <a href={{snapchat}} class="snapchat" *ngIf="snapchat !== null"><i class="bx bxl-snapchat"></i></a>
                    <a href={{tik_tok}} class="tik_tok" *ngIf="tik_tok !== null"><i class="bx bxl-tiktok"></i></a>
                    <a href={{pinterest}} class="pinterest" *ngIf="pinterest !== null"><i class="bx bxl-pinterest"></i></a>
                    <a href={{twitch}} class="twitch" *ngIf="twitch !== null"><i class="bx bxl-twitch"></i></a>
                    <a href={{reddit}} class="reddit" *ngIf="reddit !== null"><i class="bx bxl-reddit"></i></a>
                </div>
            </div>
        </div>
    </section>


