    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <h2>Configuration</h2>
            <br>
            <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="updateCompany()" class="section-title">
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Company Name *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="Company Name *"
                           formControlName="name">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Description *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <textarea type="text"
                              class="form-control"
                              placeholder="Description *"
                              formControlName="description">
                    </textarea>
                </div>

                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Category *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <select class="form-control" id="category" formControlName="category">
                        <option *ngFor="let category of categories"
                                [selected]="category.value === companyForm.controls.category.value.toString()"
                                [value]="category.value">
                            {{ category.label }}
                        </option>
                    </select>
                </div>

                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Nit *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" minlength="7" maxlength="9" class="form-control"
                           placeholder="NIT *"
                           id="nit"
                           formControlName="nit">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Address *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="Address *"
                           formControlName="address">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Web domain *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="Web domain *"
                           formControlName="web_domain">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Email *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="email" class="form-control" placeholder="Email *"
                           formControlName="email">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Contact number *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" minlength="8" maxlength="10" class="form-control"
                           placeholder="Company phone *"
                           id="contact_number"
                           formControlName="contact_number">
                </div>

                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!companyForm.valid">
                        Update
                    </button>
                </div>
            </form>

            <hr>
            <form (ngSubmit)="updateProfileImage()">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group">
                        <label class="col-lg-12 d-md-flex align-items-md-stretch form-group"
                               for="profile_image">Update profile image</label>
                        <input class="col-lg-12 d-md-flex align-items-md-stretch form-group"
                               type="file" name="Main_file" id="profile_image"
                               (change)="uploadProfileImage($event)">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>

            <hr>
            <form (ngSubmit)="updateCompanyPicture()" >
                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group">
                        <label class="col-lg-12 d-md-flex align-items-md-stretch form-group"
                               for="banner_picture_file">Update company picture</label>
                        <input class="col-lg-12 d-md-flex align-items-md-stretch form-group"
                               type="file" name="Main_file" id="banner_picture_file"
                               (change)="uploadCompanyPicture($event)">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>

        </div>
    </section><!-- End About Section -->


