<main id="main">
  <section class="section " id="portfolio">
    <div class="container">
      <div class="section-title">
        <h2>Collaboration</h2>
        <div class="line-dec"></div>
        <span>Select your influencer favorite </span>
      </div>
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <div class="isotope-wrapper">
            <div class="isotope-toolbar">
              <label id="portfolio-flters"><button class="active btn btn-primary" data-type="*" name="isotope-filter"></button>
                <span class="display-6">All</span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Cosmetic" name="isotope-filter"></button>
                <span>Cosmetic</span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Technology" name="isotope-filter"></button>
                <span>Technology</span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Food" name="isotope-filter"></button>
                <span>Food</span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Sports" name="isotope-filter"></button>
                <span>Sports</span></label>
            </div>
            <div class="isotope-box">
              <div class="isotope-item" data-type="Cosmetic">
                <figure>
                  <img src="https://elcomercio.pe/resizer/6VstkRKUycChPLg1LkQzNzbLFck=/1200x900/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/VNEMTUFDDNFXFBYSADX25454UQ.jpg"
                    alt="sq-sample26" />
                </figure>
              </div>

              <div class="isotope-item" data-type="Technology">
                <figure>
                  <img src="https://i.ytimg.com/vi/YrETNRtC3-s/maxresdefault.jpg"
                    alt="sq-sample26" />
                </figure>
              </div>

              <div class="isotope-item" data-type="Technology">
                <figure>
                  <img src="https://pbs.twimg.com/media/DSaDgAnWAAAWtqz.jpg"
                    alt="sq-sample26" />
                </figure>
              </div>

              <div class="isotope-item" data-type="Food">
                <figure>
                  <img src="https://elcomercio.pe/resizer/_osngAPYc6LNk30ozWoJRWR7y4c=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/ULZM6RERGRBFFDZ7UX3OH6DQPU.jpg"
                    alt="sq-sample26" />
                </figure>
              </div>

              <div class="isotope-item" data-type="Sports">
                <figure>
                  <img src="https://i.ytimg.com/vi/f25Yj2roCV4/maxresdefault.jpg"
                    alt="sq-sample26" />
                </figure>
              </div>

              <div class="isotope-item" data-type="Cosmetic">
                <figure>
                  <img src="https://www.veridicoshop.com/wp-content/uploads/2018/11/veridico-shop-james-charles-palette5.jpg"
                    alt="galdiator" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
