
	<div class="col-md-12" style="background: -webkit-linear-gradient(right, #3931af, #00c6ff); 
	position: fixed;
	z-index: 1;">
		
			<form class="search-bar">
				<mat-form-field class="search-input"  appearance="fill">
				<mat-label>Search</mat-label>
				<input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
				<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
					<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
					{{option.name}}
					</mat-option>
				</mat-autocomplete>
				</mat-form-field>
			</form>
		
		<span class="cont-logo">
		 	<img class="logo" src="assets/img/Logo_blanco.png" alt="INCO logo">
		</span>
	</div>
	
	<div style="height: 120px;"></div>
	<div *ngIf="isInfluencer">
	<div  class="modal-body row">
		<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let personaje of ventures">
			<div class="card-container">
				<mat-card class="example-card">
					<a [routerLink]="['/show-profile',personaje.id_venture]" routerLinkActive="active"><mat-card-header>
					<div mat-card-avatar class="example-header-image"></div>
					<mat-card-title>{{personaje.name}}</mat-card-title>
					</mat-card-header></a>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
					<p>
						{{personaje.description}}
					</p>
					</mat-card-content>
					<mat-card-actions>
					<button mat-button (click)="createMatchIn(personaje)">MATCH</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		
	</div>
</div>
<div *ngIf="isEntrepreneur">
	<div  class="modal-body row">
		<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let personaje of influencers">
			<div class="card-container">
				<mat-card class="example-card">
					<a [routerLink]="['/show-profile',personaje.id]" routerLinkActive="active"><mat-card-header>
					<div mat-card-avatar class="example-header-image"></div>
					<mat-card-title>{{personaje.name_user}}</mat-card-title>
					</mat-card-header></a>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
					<p>
						{{personaje.description}}
					</p>
					</mat-card-content>
					<mat-card-actions>
					<button mat-button (click)="createMatch(personaje)">MATCH</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		
	</div>
</div>

