/* searchbar */

.search-bar{
	display: inline-block;
	padding: 30px 30px 30px 12px;
	top: 50%;
	min-width: 150px;
	max-width: 500px;
	width: 100%;
	font-size: 15px;
} 
.search-input {
	width: 100%;
  }

/* Clase logo */

.cont-logo{
	margin-left: 3%;
}

.logo {

	width: 17%;
	height: 17%;
	display: inline;
}

/* card */ 

.card-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.example-card {
	max-width: 475px ;
	margin: 3%;

  }
  
.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
  }

a{
	text-decoration: none;
	color: black;
}
mat-card{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
		-ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for WebKit */
    word-break: break-word;

-webkit-hyphens: auto;
-moz-hyphens: auto;
    hyphens: auto;
}
mat-card-content{ 
	display: flex;
	height:150px;
}
p {
	overflow: hidden;
	display: -webkit-box;
	text-align : justify;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
  }
mat-card-title{
	display: inline;
}