<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <h2>Configuration</h2>
            <br>
            <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="updateUser()" class="section-title">
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">User Name *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="User Name *"
                           formControlName="name_user">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Name *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="Name *"
                           formControlName="name">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Last Name *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="Last Name *"
                           formControlName="last_name">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Your Email *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="email" class="form-control" placeholder="Your Email *"
                           formControlName="email">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Gender *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="Gender *"
                           formControlName="gender">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">ID *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="ID *"
                           formControlName="CC" minlength="8" maxlength="10" autocomplete="off">
                </div>
                <p class="col-lg-12 d-md-flex align-items-md-stretch form-group">Password *</p>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <input type="text" class="form-control" placeholder="Password *"
                           formControlName="password">
                </div>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <h6>User photo</h6>
                    <input type="file" accept="image/png, image/gif, image/jpeg">
                </div>
                <div>
                    <h6>influencer photo</h6>
                    <input type="file" accept="image/png, image/gif, image/jpeg">
                </div>
                <div class="col-lg-12 d-md-flex align-items-md-stretch form-group">
                    <small id="emailHelp" class="form-text text-muted ">Update u "about me" </small>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
                    Update
                </button>
            </form>
        </div>
    </section><!-- End About Section -->


</main><!-- End #main -->
