<!--<main id="main">-->
    <ul *ngIf="isEntrepreneur">

               <!-- ==================== Real page ===================== -->
               <app-entrepreneur-profile></app-entrepreneur-profile>
               <app-entrepreneur-collaboration></app-entrepreneur-collaboration>
               <app-entrepreneur-score></app-entrepreneur-score>
   
                <!--Finish section-->
        
  <!--       
      <section id="about" class="about container">
            <div class="container">

                <div class="section-title">
                    <h2>About Us</h2>
                    <p>sjkdffbsiofjv ozjdfogjozisiobzeroy ji eroijgoie se fish isdf</p>
                </div>
                <div class="justify-content-center">
                    <img src="../../../assets/img/empanadas-local.jpg" class="col-lg-12 col-sm-12 col-md-8 py-1">
                </div>
            </div>
        </section>
        <app-influencer-profile></app-influencer-profile>
       

        
        <section id="facts" class="facts container">
            <div class="container">

                <div class="section-title">
                   
                    <h2>Categories</h2>
                    <h3>category</h3>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row no-gutters">
                   
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p><strong>NIT <br> </strong>98324752948720389</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p><strong>Address <br></strong>,kdvfb5389fdbn</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-globe"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                class="purecounter"></span>
                        <p><strong>Web domain <br></strong>www.dfkjbe.com</p>
                    </div>
                </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Mail <br></strong> sdldkfs@jdfbkfgb.com</p>
                    </div>
                    </div> 
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="count-box">
                            <i class="bi bi-telephone-fill"></i>
                            <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p><strong>Contact <br></strong> 2394568287</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
       

       
        
        <section class="section " id="portfolio">
            <div class="container">
              <div class="section-title">
                <h2>Collaboration</h2>
                <div class="line-dec"></div>
                <span><p>Select your entrepreneur favorite</p> </span>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
                  <div class="isotope-wrapper col-lg-12 col-sm-12">
                    <div class="isotope-toolbar">
                      <label id="portfolio-flters"><button class="active btn btn-primary" data-type="*" name="isotope-filter"></button>
                        <span class="display-6">All</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Esthetic" name="isotope-filter"></button>
                        <span>Esthetic</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Food" name="isotope-filter"></button>
                        <span>Food</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Sports" name="isotope-filter"></button>
                        <span>Sports
                        </span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Technology" name="isotope-filter"></button>
                        <span>Technology</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Home" name="isotope-filter"></button>
                          <span>Home</span></label>
                    </div>
                    <div class="isotope-box">
                      <div class="isotope-item" data-type="Esthetic">
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              Descripción del emprendimiento (Veture)
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
        
                      <div class="isotope-item" data-type="Food">
                          <div class="card-container">
                            <mat-card class="example-card">
                              <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                              <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="http://pm1.narvii.com/7658/4c600ac5be2bcd8e419df791cdfa9e97c80ed195r1-540-540v2_uhq.jpg" alt="Photo of a Shiba Inu">
                              <br>
                              <mat-card-content>
                              <p>
                                Descripción del emprendimiento
                              </p>
                              </mat-card-content>
                              <mat-card-actions>
                              </mat-card-actions>
                            </mat-card>
                          </div>
                      </div>
        
                      <div class="isotope-item" data-type="Sports">
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://img-9gag-fun.9cache.com/photo/abGbeAB_460s.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              Descripción del emprendimiento
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
        
                      <div class="isotope-item" data-type="Technology">
        
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                            </mat-card-header>
                            <br>
                            <img mat-card-image src="https://pm1.narvii.com/6770/9ca45e6b78d9e059d8f5ada9db60c76a1e91e7a3v2_hq.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              Descripción del emprendimiento
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
        
                      <div class="isotope-item" data-type="Home">
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              Descripción del emprendimiento
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
        
                      <div class="isotope-item card-container" data-type="Esthetic">
                        <div class="card-container">
                          <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              Descripción del emprendimiento
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

       
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Rating</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="val">10%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="val">5%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> <i
                                    class="val">5%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i><i class="val">0%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>

       
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit
                                    rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,
                                    risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-1.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Virginia Goodman</h3>
                                <h4>Make up Entrepreneur </h4>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid
                                    cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet
                                    legam anim culpa.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-2.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer Entrepreneur</h4>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                                    duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-3.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner Entrepreneur</h4>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                                    minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                                    labore illum veniam.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-4.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Food Entrepreneur</h4>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster
                                    veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                    culpa fore nisi cillum quid.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-5.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Sarah Larson</h3>
                                <h4>Entrepreneur</h4>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
     -->
    </ul>

    <ul *ngIf="!isEntrepreneur">

               <!-- ==================== Real page ===================== -->
               <app-influencer-profile></app-influencer-profile>
               <app-influencer-collaboration></app-influencer-collaboration>
               <app-influencer-score></app-influencer-score>
   
                <!--Finish section-->

         
        <!-- <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>About Me</h2>
                    <p>fgtkumsfb nnyrjnfrbsf xftdhbe5vdy ndutbjydrx thbr xj n  sxb rxhjydtxfhn</p>
                </div>
                <div class="justify-content-center">
                    <img src="https://astelus.com/wp-content/viajes/Lago-Moraine-Parque-Nacional-Banff-Alberta-Canada.jpg"
                        class="col-lg-12 col-sm-12 col-md-8 py-1">
                </div>
            </div>
        </section>

        
        <section id="facts" class="facts">
            <div class="container">

                <div class="section-title">
                    
                    <h2>Facts</h2>
                </div>

                <div class="row no-gutters">
                    
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p><strong>Contacts made </strong>Who many Entrepreneurs wre interested in Alex profile</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p><strong>Score</strong>How many users gave a score to Alex profile</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="count-box">
                            <i class="bi bi-people"></i>
                            <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p><strong>Followers</strong> 10000</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        
        
        <section class="section " id="portfolio">
            <div class="container">
              <div class="section-title">
                <h2>Collaboration</h2>
                <div class="line-dec"></div>
                <span><p>Select your entrepreneur favorite </p></span>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
                  <div class="isotope-wrapper col-lg-12 col-sm-12">
                    <div class="isotope-toolbar">
                      <label id="portfolio-flters"><button class="active btn btn-primary" data-type="*" name="isotope-filter"></button>
                        <span class="display-6">All</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Fashion bloggers" name="isotope-filter"></button>
                        <span>Fashion bloggers</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Foodies" name="isotope-filter"></button>
                        <span>Foodies</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="gamers and technology gurus" name="isotope-filter"></button>
                        <span>gamers and technology gurus</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Celebrities and artists" name="isotope-filter"></button>
                        <span>Celebrities and artists</span></label>
                      <label id="portfolio-flters"><button class="btn btn-primary" data-type="Fitness and healthy life" name="isotope-filter"></button>
                        <span>Fitness and healthy life</span></label>
                    </div>
                    <div class="isotope-box">
                      <div class="isotope-item" data-type="Fashion bloggers">
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">User name</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Tag</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              description
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
        
                      <div class="isotope-item" data-type="Foodies">
                          <div class="card-container">
                            <mat-card class="example-card">
                              <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title style="margin-bottom: 0px;">User name</mat-card-title>
                              <mat-card-subtitle tyle="margin-bottom: 0px;">Tag</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="http://pm1.narvii.com/7658/4c600ac5be2bcd8e419df791cdfa9e97c80ed195r1-540-540v2_uhq.jpg" alt="Photo of a Shiba Inu">
                              <br>
                              <mat-card-content>
                              <p>
                                description
        
                              </p>
                              </mat-card-content>
                              <mat-card-actions>
                              </mat-card-actions>
                            </mat-card>
                          </div>
                      </div>
        
                      <div class="isotope-item" data-type="gamers and technology gurus">
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">User name</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Tag</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://img-9gag-fun.9cache.com/photo/abGbeAB_460s.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              description
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
        
                      <div class="isotope-item" data-type="Celebrities and artists">
        
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">User name</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Tag</mat-card-subtitle>
                            </mat-card-header>
                            <br>
                            <img mat-card-image src="https://pm1.narvii.com/6770/9ca45e6b78d9e059d8f5ada9db60c76a1e91e7a3v2_hq.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              description
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
        
                      <div class="isotope-item" data-type="Fitness and healthy life">
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">User name</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Tag</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              description
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
        
                      <div class="isotope-item card-container" data-type="Fitness and healthy life">
                        <div class="card-container">
                          <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">User name</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Tag</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <br>
                            <mat-card-content>
                            <p>
                              description
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
  
        
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Rating</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="val">10%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="val">5%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> <i
                                    class="val">5%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill"><i class="bi bi-star-fill"></i><i class="val">0%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>

      
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit
                                    rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,
                                    risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-1.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Virginia Goodman</h3>
                                <h4>Make up Entrepreneur </h4>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid
                                    cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet
                                    legam anim culpa.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-2.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer Entrepreneur</h4>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                                    duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-3.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner Entrepreneur</h4>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                                    minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                                    labore illum veniam.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-4.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Food Entrepreneur</h4>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster
                                    veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                    culpa fore nisi cillum quid.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="../../../assets/img/testimonials/testimonials-5.jpg" class="testimonial-img"
                                    alt="">
                                <h3>Sarah Larson</h3>
                                <h4>Entrepreneur</h4>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section> -->
       

    </ul>
<!-- </main> -->



