<!--<main id="main">-->

    <ul *ngIf="isEntrepreneur" style="margin:0; padding:0;">


               <!-- ==================== Real page ===================== -->
               <!-- <app-entrepreneur-profile></app-entrepreneur-profile>
               <app-entrepreneur-collaboration></app-entrepreneur-collaboration>

               <app-entrepreneur-score></app-entrepreneur-score> -->
   

                <!--Finish section-->

        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
            <div class="hero-container" data-aos="fade-in">
            <h1>{{name}}</h1>
            <p>I'm <span>INFLUENCER</span></p>
            </div>
        </section><!-- End Hero -->
            <!-- ======= About Section ======= -->
        <section id="about" class="about container">
          <div class="container">
              <div class="section-title" style="padding-bottom: 5px;">
                  <h2>About Us</h2>  
              </div>
              <div class="justify-content-center">
                  <p>{{description}}</p>
              </div>
          </div>
        </section><!-- End About Section -->

        <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts" style="padding: 0 2% 10px 2%;">
      <div class="container">
          <div class="section-title" style="padding: 0;">
              <h2>Facts</h2>
          </div>
          <div class="row no-gutters">
              <div class="col-lg-6 col-md-6 col-sm-12 " data-aos="fade-up" data-aos-delay="100">
                  <div class="count-box">
                      <i class="bi bi-journal-richtext"></i>
                      <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>Score</strong>How many users gave a score to Alex profile</p>
                  </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                  <div class="count-box">
                      <i class="bi bi-people"></i>
                      <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>Followers</strong> 10000</p>
                  </div>
              </div>
          </div>
      </div>
  </section><!-- End Facts Section -->

  <section class="social-media">
      <div class="container">
          <div class="section-title" style="padding: 0;">
              <h2>Social media</h2>
          </div>
          <div class="row no-gutters">
              <div  data-aos="fade-up" data-aos-delay="100">
                      <i class="bx bxl-twitter"></i>
                      <i class="bx bxl-facebook"></i>
                      <i class="bx bxl-instagram"></i>
                      <i class="bx bxl-tiktok"></i>
                      <i class="bx bxl-snapchat"></i>
                      <i class="bx bxl-youtube"></i>
                      <i class="bx bxl-pinterest"></i>
                      <i class="bx bxl-twitch"></i>
                      <i class="bx bxl-reddit"></i>
              </div>
          </div>
      </div>
  </section>
        
        <section class="section " id="portfolio">
          <div class="container">
            <div class="section-title">
              <h2>Collaboration</h2>
              <div class="line-dec"></div>
              <span><p class="p-two">Select your entrepreneur favorite</p> </span>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
                <div class="isotope-wrapper col-lg-12 col-sm-12">
                  <div class="isotope-toolbar">
                    <label id="portfolio-flters"><button class="active btn btn-primary" data-type="*" name="isotope-filter"></button>
                      <span class="display-6">All</span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Esthetic" name="isotope-filter"></button>
                      <span>Esthetic</span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Food" name="isotope-filter"></button>
                      <span>Food</span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Sports" name="isotope-filter"></button>
                      <span>Sports
                      </span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Technology" name="isotope-filter"></button>
                      <span>Technology</span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Home" name="isotope-filter"></button>
                        <span>Home</span></label>
                  </div>
                  <div class="isotope-box">
                    <div class="isotope-item" data-type="Esthetic">
                      <div class="card-container">
                        <mat-card class="example-card">
                          <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle style="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
      
                    <div class="isotope-item" data-type="Food">
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                            <mat-card-subtitle style="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="http://pm1.narvii.com/7658/4c600ac5be2bcd8e419df791cdfa9e97c80ed195r1-540-540v2_uhq.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                            <p class="p-card">
                              Descripción del emprendimiento
                            </p>
                            </mat-card-content>
                          </mat-card>
                        </div>
                    </div>
      
                    <div class="isotope-item" data-type="Sports">
                      <div class="card-container">
                        <mat-card class="example-card">
                          <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle style="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://img-9gag-fun.9cache.com/photo/abGbeAB_460s.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
      
                    <div class="isotope-item" data-type="Technology">
      
                      <div class="card-container">
                        <mat-card class="example-card">
                          <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle style="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://pm1.narvii.com/6770/9ca45e6b78d9e059d8f5ada9db60c76a1e91e7a3v2_hq.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
      
                    <div class="isotope-item" data-type="Home">
                      <div class="card-container">
                        <mat-card class="example-card">
                          <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle style="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
      
                    <div class="isotope-item card-container" data-type="Esthetic">
                      <div class="card-container">
                        <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle style="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="skills" class="skills section-bg">
          <div class="container">
        
              <div class="section-title">
                  <h2>Rating</h2>
              </div>
        
              <div class="calification">
                    <a id="five" class="star-05 star" href="#">★</a>
                    <a id="four" class="star-04 star" href="#">★</a>
                    <a id="three" class="star-03 star" href="#">★</a>
                    <a id="two" class="star-02 star" href="#">★</a>
                    <a id="one" class="star-01 star" href="#">★</a>
              </div>
        
              <div class="row skills-content">
        
                  <div class="col-lg-6" data-aos="fade-up">
        
                      <div class="progress">
                          <span class="skill"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i
                                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                  class="bi bi-star-fill"></i><i class="val"></i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                   aria-valuemax="100"></div>
                          </div>
                      </div>
        
                      <div class="progress">
                          <span class="skill"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i
                                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="val"></i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                   aria-valuemax="100"></div>
                          </div>
                      </div>
        
                      <div class="progress">
                          <span class="skill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                  class="bi bi-star-fill"></i><i class="val"></i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                                   aria-valuemax="100"></div>
                          </div>
                      </div>
        
                  </div>
        
                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        
                      <div class="progress">
                          <span class="skill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> <i
                                  class="val"></i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                                   aria-valuemax="100"></div>
                          </div>
                      </div>
        
                      <div class="progress">
                          <span class="skill"><i class="bi bi-star-fill"></i><i class="val"></i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                   aria-valuemax="100"></div>
                          </div>
                      </div>
        
                  </div>
        
              </div>
        
          </div>
        </section>
        
        <section id="testimonials" class="testimonials section-bg">
          <div class="container">
        
              <div class="section-title">
                  <h2>Testimonials</h2>
              </div>
        
              <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                  <div class="swiper-wrapper">
        
                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit
                                  rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,
                                  risus at semper.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-1.jpg" class="testimonial-img"
                                   alt="">
                              <h3>Virginia Goodman</h3>
                              <h4>Make up Entrepreneur </h4>
                          </div>
                      </div><!-- End testimonial item -->
        
                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid
                                  cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet
                                  legam anim culpa.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-2.jpg" class="testimonial-img"
                                   alt="">
                              <h3>Sara Wilsson</h3>
                              <h4>Designer Entrepreneur</h4>
                          </div>
                      </div><!-- End testimonial item -->
        
                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                                  duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-3.jpg" class="testimonial-img"
                                   alt="">
                              <h3>Jena Karlis</h3>
                              <h4>Store Owner Entrepreneur</h4>
                          </div>
                      </div><!-- End testimonial item -->
        
                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                                  minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                                  labore illum veniam.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-4.jpg" class="testimonial-img"
                                   alt="">
                              <h3>Matt Brandon</h3>
                              <h4>Food Entrepreneur</h4>
                          </div>
                      </div><!-- End testimonial item -->
        
                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster
                                  veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                  culpa fore nisi cillum quid.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-5.jpg" class="testimonial-img"
                                   alt="">
                              <h3>Sarah Larson</h3>
                              <h4>Entrepreneur</h4>
                          </div>
                      </div><!-- End testimonial item -->
        
                  </div>
                  <div class="swiper-pagination"></div>
                  <form>
                    <div class="form-group">
                      <textarea class="form-control status-box textarea" rows="3" placeholder="Enter your comment here..."></textarea>
                    </div>
                    <div class="col-lg-12 d-md-flex">
                      <button type="submit" class="btn btn-primary btn-lg submit-comment">
                          Update
                      </button>
                  </div>
                  </form>
              </div>
        
          </div>
        </section>

    </ul>

    <ul *ngIf="!isEntrepreneur" style="margin:0; padding:0;">

        <section id="hero2" class="d-flex flex-column justify-content-center align-items-center">
            <div class="hero-container hero-entrepeneur" data-aos="fade-in">
            <h1>{{name}}</h1>
            <p class="p-two">I'm <span>ENTREPENEUR</span></p>
            </div>
        </section><!-- End Hero -->
        <section id="about" class="about">

            <div class="container">

                <div class="section-title">
                    <h2>About Me</h2>  
                </div>
                <div class="justify-content-center">
                  <p>{{description}}</p>
                </div>
            </div>
        </section>
        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts container" style="padding: 0 2% 10px 2%;">
      <div class="container">
          <div class="section-title" style="padding: 0;">
              <h2>Company facts</h2>
          </div>
          <div class="row no-gutters">
              
              <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                  <div class="count-box">
                      <i class="bi bi-emoji-smile"></i>
                      <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>NIT <br> </strong>345676543</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="count-box">
                      <i class="bi bi-journal-richtext"></i>
                      <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>Address <br></strong>fdbsdfbb24543vd</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="count-box">
                    <i class="bi bi-globe"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p><strong>Web domain <br></strong>wwwwjkfdjkfjb.ejfbjdf</p>
                </div>
            </div>

              <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="count-box">
                  <i class="bi bi-headset"></i>
                  <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>Mail <br></strong> sdghjs@kjsdfvi.com </p>
                </div>
              </div> 
              <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="count-box">
                      <i class="bi bi-telephone-fill"></i>
                      <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>Contact <br></strong> 8765432345</p>
                  </div>
              </div>
          </div>

      </div>
        </section><!-- End Facts Section -->
        <section class="section " id="portfolio">
          <div class="container">
            <div class="section-title">
              <h2>Collaboration</h2>
              <div class="line-dec"></div>
              <span><p class="p-two">Select your entrepreneur favorite</p> </span>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
                <div class="isotope-wrapper col-lg-12 col-sm-12">
                  <div class="isotope-toolbar">
                    <label id="portfolio-flters"><button class="active btn btn-primary" data-type="*" name="isotope-filter"></button>
                      <span class="display-6">All</span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Esthetic" name="isotope-filter"></button>
                      <span>Esthetic</span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Food" name="isotope-filter"></button>
                      <span>Food</span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Sports" name="isotope-filter"></button>
                      <span>Sports
                      </span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Technology" name="isotope-filter"></button>
                      <span>Technology</span></label>
                    <label id="portfolio-flters"><button class="btn btn-primary" data-type="Home" name="isotope-filter"></button>
                        <span>Home</span></label>
                  </div>
                  <div class="isotope-box">
                    <div class="isotope-item" data-type="Esthetic">
                      <div class="card-container">
                        <mat-card class="example-card">
                          <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
      
                    <div class="isotope-item" data-type="Food">
                        <div class="card-container">
                          <mat-card class="example-card">
                            <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                            <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="http://pm1.narvii.com/7658/4c600ac5be2bcd8e419df791cdfa9e97c80ed195r1-540-540v2_uhq.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                            <p class="p-card">
                              Descripción del emprendimiento
                            </p>
                            </mat-card-content>
                          </mat-card>
                        </div>
                    </div>
      
                    <div class="isotope-item" data-type="Sports">
                      <div class="card-container">
                        <mat-card class="example-card">
                          <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://img-9gag-fun.9cache.com/photo/abGbeAB_460s.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
      
                    <div class="isotope-item" data-type="Technology">
      
                      <div class="card-container">
                        <mat-card class="example-card">
                          <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://pm1.narvii.com/6770/9ca45e6b78d9e059d8f5ada9db60c76a1e91e7a3v2_hq.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
      
                    <div class="isotope-item" data-type="Home">
                      <div class="card-container">
                        <mat-card class="example-card">
                          <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
      
                    <div class="isotope-item card-container" data-type="Esthetic">
                      <div class="card-container">
                        <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                          <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                          <p class="p-card">
                            Descripción del emprendimiento
                          </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="skills" class="skills section-bg">
  <div class="container">

      <div class="section-title">
          <h2>Rating</h2>
      </div>

      <div class="calification">
            <a id="five" class="star-05 star" href="#">★</a>
            <a id="four" class="star-04 star" href="#">★</a>
            <a id="three" class="star-03 star" href="#">★</a>
            <a id="two" class="star-02 star" href="#">★</a>
            <a id="one" class="star-01 star" href="#">★</a>
      </div>

      <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

              <div class="progress">
                  <span class="skill"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="val"></i></span>
                  <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                           aria-valuemax="100"></div>
                  </div>
              </div>

              <div class="progress">
                  <span class="skill"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="val"></i></span>
                  <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                           aria-valuemax="100"></div>
                  </div>
              </div>

              <div class="progress">
                  <span class="skill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="val"></i></span>
                  <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                           aria-valuemax="100"></div>
                  </div>
              </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

              <div class="progress">
                  <span class="skill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> <i
                          class="val"></i></span>
                  <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                           aria-valuemax="100"></div>
                  </div>
              </div>

              <div class="progress">
                  <span class="skill"><i class="bi bi-star-fill"></i><i class="val"></i></span>
                  <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                           aria-valuemax="100"></div>
                  </div>
              </div>

          </div>

      </div>

  </div>
        </section>
        <section id="testimonials" class="testimonials section-bg">
          <div class="container">

              <div class="section-title">
                  <h2>Testimonials</h2>
              </div>

              <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                  <div class="swiper-wrapper">

                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit
                                  rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam,
                                  risus at semper.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-1.jpg" class="testimonial-img"
                                  alt="">
                              <h3>Virginia Goodman</h3>
                              <h4>Make up Entrepreneur </h4>
                          </div>
                      </div><!-- End testimonial item -->

                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid
                                  cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet
                                  legam anim culpa.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-2.jpg" class="testimonial-img"
                                  alt="">
                              <h3>Sara Wilsson</h3>
                              <h4>Designer Entrepreneur</h4>
                          </div>
                      </div><!-- End testimonial item -->

                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                                  duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-3.jpg" class="testimonial-img"
                                  alt="">
                              <h3>Jena Karlis</h3>
                              <h4>Store Owner Entrepreneur</h4>
                          </div>
                      </div><!-- End testimonial item -->

                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                                  minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                                  labore illum veniam.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-4.jpg" class="testimonial-img"
                                  alt="">
                              <h3>Matt Brandon</h3>
                              <h4>Food Entrepreneur</h4>
                          </div>
                      </div><!-- End testimonial item -->

                      <div class="swiper-slide">
                          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                              <p>
                                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster
                                  veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                  culpa fore nisi cillum quid.
                                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                              </p>
                              <img src="../../../assets/img/testimonials/testimonials-5.jpg" class="testimonial-img"
                                  alt="">
                              <h3>Sarah Larson</h3>
                              <h4>Entrepreneur</h4>
                          </div>
                      </div><!-- End testimonial item -->


                  </div>
                  <div class="swiper-pagination"></div>
                  <form>
                    <div class="form-group">
                      <textarea class="form-control status-box textarea" rows="3" placeholder="Enter your comment here..."></textarea>
                    </div>
                    <div class="col-lg-12 d-md-flex">
                      <button type="submit" class="btn btn-primary btn-lg submit-comment">
                          Update
                      </button>
                  </div>
                  </form>
              </div>

          </div>
        </section>
    </ul>
<!-- </main> -->



  <div *ngIf="isInfluencer">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
          <div class="section-title">
            <h2>{{misObjetos.name}}</h2>
            <hr>
              <h2>About Me</h2>
              <p>{{misObjetos.description}}</p>
          </div>
          <div class="justify-content-center">
              <img src="https://astelus.com/wp-content/viajes/Lago-Moraine-Parque-Nacional-Banff-Alberta-Canada.jpg"
                   class="col-lg-12 col-sm-12 col-md-12">
          </div>
      </div>
  </section><!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts" class="facts">
      <div class="container">

          <div class="section-title">
              <!--Aquí puede ser mucho mejor trar los datos generales-->
              <h2>Facts</h2>
          </div>

          <div class="row no-gutters">
              <!--Podemos guiarnos para las fotos-->
              <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                  <div class="count-box">
                      <i class="bi bi-emoji-smile"></i>
                      <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>Contacts made </strong>Who many Entrepreneurs wre interested in Alex profile</p>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="count-box">
                      <i class="bi bi-journal-richtext"></i>
                      <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>Score</strong>How many users gave a score to Alex profile</p>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="count-box">
                      <i class="bi bi-people"></i>
                      <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                            class="purecounter"></span>
                      <p><strong>Followers</strong> 10000</p>
                  </div>
              </div>
          </div>

      </div>
  </section><!-- End Facts Section -->
</div>


<div *ngIf="isEntrepreneur">
  <div *ngFor="let personaje of misObjetos">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>{{personaje.name_user}}</h2>
            <hr>
            <h2>About Me</h2>
            <p>{{personaje.description}}</p>
        </div>
        <div class="justify-content-center">
            <img src="https://astelus.com/wp-content/viajes/Lago-Moraine-Parque-Nacional-Banff-Alberta-Canada.jpg"
                 class="col-lg-12 col-sm-12 col-md-12">
        </div>
    </div>
</section><!-- End About Section -->

<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
    <div class="container">

        <div class="section-title">
            <!--Aquí puede ser mucho mejor trar los datos generales-->
            <h2>Facts</h2>
        </div>

        <div class="row no-gutters">
            <!--Podemos guiarnos para las fotos-->
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p><strong>Contacts made </strong>Who many Entrepreneurs wre interested in Alex profile</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p><strong>Score</strong>How many users gave a score to Alex profile</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="32550" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p><strong>Followers</strong> 10000</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Facts Section -->
</div>
</div>

