<section class="section " id="portfolio">
    <div class="container">
      <div class="section-title">
        <h2>Colaboration</h2>
        <div class="line-dec"></div>
        <span><p>Look your favorite colaboration</p> </span>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
          <div class="isotope-wrapper col-lg-12 col-sm-12">
            <div class="isotope-toolbar">
              <label id="portfolio-flters"><button class="active btn btn-primary" data-type="*" name="isotope-filter"></button>
                <span class="display-6">All</span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Esthetic" name="isotope-filter"></button>
                <span>Esthetic</span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Food" name="isotope-filter"></button>
                <span>Food</span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Sports" name="isotope-filter"></button>
                <span>Sports
                </span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Technology" name="isotope-filter"></button>
                <span>Technology</span></label>
              <label id="portfolio-flters"><button class="btn btn-primary" data-type="Home" name="isotope-filter"></button>
                  <span>Home</span></label>
            </div>
            <div class="isotope-box">
              <div class="isotope-item" data-type="Esthetic">
                <div class="card-container">
                  <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                    <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <br>
                    <mat-card-content>
                    <p>
                      Descripción del emprendimiento
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>

              <div class="isotope-item" data-type="Food">
                  <div class="card-container">
                    <mat-card class="example-card">
                      <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                      <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="http://pm1.narvii.com/7658/4c600ac5be2bcd8e419df791cdfa9e97c80ed195r1-540-540v2_uhq.jpg" alt="Photo of a Shiba Inu">
                      <br>
                      <mat-card-content>
                      <p>
                        Descripción del emprendimiento
                      </p>
                      </mat-card-content>
                      <mat-card-actions>
                      </mat-card-actions>
                    </mat-card>
                  </div>
              </div>

              <div class="isotope-item" data-type="Sports">
                <div class="card-container">
                  <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                    <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://img-9gag-fun.9cache.com/photo/abGbeAB_460s.jpg" alt="Photo of a Shiba Inu">
                    <br>
                    <mat-card-content>
                    <p>
                      Descripción del emprendimiento
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>

              <div class="isotope-item" data-type="Technology">

                <div class="card-container">
                  <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                    <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                    </mat-card-header>
                    <br>
                    <img mat-card-image src="https://pm1.narvii.com/6770/9ca45e6b78d9e059d8f5ada9db60c76a1e91e7a3v2_hq.jpg" alt="Photo of a Shiba Inu">
                    <br>
                    <mat-card-content>
                    <p>
                      Descripción del emprendimiento
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>

              <div class="isotope-item" data-type="Home">
                <div class="card-container">
                  <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                    <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <br>
                    <mat-card-content>
                    <p>
                      Descripción del emprendimiento
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>

              <div class="isotope-item card-container" data-type="Esthetic">
                <div class="card-container">
                  <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="margin-bottom: 0px;">Aquí iran los nombres de perfil</mat-card-title>
                    <mat-card-subtitle tyle="margin-bottom: 0px;">Etiqueta</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <br>
                    <mat-card-content>
                    <p>
                      Descripción del emprendimiento
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


